body {
    background: #fff;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.QB_html_insert {
    color: black;
}

body header, body footer {
    margin: 0;
    text-align: left;
}

hr {
    height: 5px;
}